<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<table class="content">
  <tr>
    <th><%= f.label :email %></th>
    <td><%= f.email_field :email %></td>
  </tr>
  <tr>
    <th><%= f.label :password %></th>
    <td><%= f.password_field :password %></td>
</table>
<div class="button_wrapper">
  <%= f.submit "ログイン" %>
    <% end %>
  <%= link_to "アカウント登録", new_user_path,class:"no-underline" %>
</div>
