<%= form_with(model: @note, local: true, url: choose_new_or_edit) do |form| %>
<% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= @note.errors.count %>件入力がありません！</h2>
      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="note_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="note_field">
    <%= form.label :image %>
    <%= image_tag(@note.image.url) if @note.image && @note.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class="note_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit "投稿へ"%>
<% end %>
<%= link_to "戻る", notes_path,class:"no-underline" %>
