<h1>その気持ち、シェアしよう</h1>
<h3>投稿一覧</h3>
<p><%= notice %></p>
<table>
  <tr>
    <th>タイトル</th>
    <th>コメント</th>
    <th>投稿者</th>
    <th colspan="3"></th>
  </tr>
<% @notes.each do |note| %>
  <tr>
    <td><%= note.title %></td>
    <td><%= note.content %></td>
    <td><%= note.user.name %></td>
    <td><%= link_to '詳細', note_path(note.id),class:"no-underline" %></td>
    <td><%= link_to '編集', edit_note_path(note.id),class:"no-underline" %></td>
    <td><%= link_to '削除', note_path(note.id),class:"no-underline", method: :delete, data: { confirm: "この投稿を削除します。よろしいですか？"} %></td>
  </tr>
<% end %>
<%= link_to '投稿を作成', new_note_path,class:"no-underline" %>
</table>
