<h2>アカウント登録</h2>
<p>簡単に登録できます。</p>
<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件入力がありません！</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="user_table">
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name,class: "user_table_td" %></td>
    </tr>
    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.email_field :email,class: "user_table_td" %></td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password,class: "user_table_td" %></td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation %></th>
      <td><%= f.password_field :password_confirmation,class: "user_table_td" %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.submit "アカウント登録" %></td>
    </tr>
  </table>
<% end %>
